#center-all {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.park-name {
    padding: 100px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.city {
    font-size: 32px;
    padding: 0px 0px 25px 0px;
}

.slider {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
     width: 60%;
}

.current-and-index {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    width: 750px; 
    height: 450px;
    border-radius: 10px;
}

.image-small {
    width: 150px;
    height: 90px;
}

.slider-icon  {
    position: absolute;
    top: 50%;
    font-size: 50px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: ease 0.5s;
    background-color: white;
    border-radius: 50%;
}

.right-arrow {
    right: 0px;
}

.left-arrow {
    left: 0px;  
}

.right-arrow:hover,
.left-arrow:hover {
    transform: scale(1.06);
    background-color: orange;
}

.slide {
    opacity: 0.65;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.01);
}
/*******************************/
.activities {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.activity-header,
.weather-headline {
    font-size: 36px;
    margin-bottom: 10px;
}

#bike {
    width: 50%;
    border-radius: 10px;
}

.activity-list {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 600px;
    line-height: 42px;
    list-style: none;
}

.fas {
    font-size: 16px;
}

.weather-section {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-block {
    width: 50%;
    height: 160px;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.official-link {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 25px;
}