.add-to-trip {
    position: absolute;
    top: 100px;
    right: 50px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 15px 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.add-to-trip:after {
    content: "";
    background-color: orange;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 101%;
    top: 8px;
    left: 10px;
    border-radius: 5px;
    transition: ease 0.35s;
}

.add-to-trip:hover:after {
  top: 0px;
  left: 0px;
  background-color: rgb(226, 147, 0);
}

#center-all {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.park-name {
    padding: 100px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.city {
    font-size: 32px;
    padding: 0px 0px 25px 0px;
}

.slider {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
     width: 60%;
}

.current-and-index {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    width: 750px; 
    height: 450px;
    border-radius: 10px;
}

.image-small {
    width: 150px;
    height: 90px;
}

.slider-icon  {
    position: absolute;
    top: 50%;
    font-size: 50px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: ease 0.5s;
    background-color: white;
    border-radius: 50%;
}

.right-arrow {
    right: 0px;
}

.left-arrow {
    left: 0px;  
}

.right-arrow:hover,
.left-arrow:hover {
    transform: scale(1.06);
    background-color: orange;
}

.slide {
    opacity: 0.65;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.01);
}
/*******************************/
.activities {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.activity-header,
.weather-headline {
    font-size: 36px;
    margin-bottom: 10px;
}

.bike {
    width: 40%;
    height: 125px;
    border-radius: 10px;
}

#tree {
    background: url(../assets/big-tree.jpg);
    background-size:cover;
}
#cave {
    background: url(../assets/cave.jpg);
    background-size:cover;
}
#raft {
    background: url(../assets/raft.jpg);
    background-size:cover;
}
#bison {
    background: url(../assets/bison.jpg);
    background-size:cover;
}
#moose {
    background: url(../assets/moose.jpg);
    background-size:cover;
}
#bridge {
    background: url(../assets/bridge.jpg);
    background-size:cover;
}
#fishing {
    background: url(../assets/fishing.jpg);
    background-size:cover;
}
#forest {
    background: url(../assets/olympic-forest.jpg);
    background-size:cover;
}
#glass {
    background: url(../assets/glass-floor.jpg);
    background-size:cover;
}
#watching {
    background: url(../assets/watching.jpg) no-repeat center;
}
#hike {
    background: url(../assets/hike-bryce.jpg);
    background-size:cover;
}
#bike {
    background: url(../assets/biking-arches.jpg);
    background-size:cover;
}

.split-act {
    display: flex;
    justify-content: space-around;
}

.activity-list {
    font-size: 24px;
    line-height: 42px;
    list-style: none;
    padding: 15px;
}

.fas {
    font-size: 16px;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.park-description {
    width: 60%;
    background-color: black;
    color: rgb(214, 139, 0);
    /* color: white; */
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 26px;
    line-height: 36px;
}

.description a {
    font-size: 20px;
    margin-top: 10px;
}

.map-section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%; /**/
}

.weather-section {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

iframe {
    border: 5px solid black;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .add-to-trip {
      padding: 13px 50px 13px;
    }
  }