footer {
    width: 100%;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: orange;
    font-size: 22px;
}