#login-stack {
    display: flex;
    flex-direction: column;
}

#login-stack * {
    margin-bottom: 15px;
}

#login-stack input {
    width: auto;
    font-size: 22px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid black;
}

#login-btn {
    font-size: 22px;
    width: 100px;
    padding: 7.5px;
    border-radius: 7.5px;
    border-style: none;
    background-color: orange;
    color: black;
}

#signup {
    font-size: 20px;
}
/**********************************/
#login-all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 60%;
    height: 600px;
    overflow: hidden;
}

#left-login {
    width: 50%;
    background-color: rgba(0,0,0,0.25);
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;   
}

#right-login {
    width: 50%;
}

#right-login img {
    width: 100%;
}

@media screen and (max-width: 1300px) {
    #right-login {
        display: none;
    }
    #left-login {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #login-stack input {
        width: 100%;
        font-size: 16px;
    }
    #login-contents {
        width: 90%;
    }    
}