body {
    background: url(../assets/escent-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#container img {
    max-width: 100%;
    z-index: -50;
    /* transition: all ease-in-out 0.6s; */
}

#main-text {
    font-size: 32px;
    color: orange;
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin: -500px 0px 0px 125px;
    animation: 1.3s ease-in 0s 1 appearOnLoad;
}

#main-text2 {
    font-size: 32px;
    color: orange;
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin: -650px 0px 0px 1100px;
    animation: 2.1s ease-in 0s 1 appearOnLoad;
}

.span2 {
    color: #fff;
}

#destin-span {
    font-size: 32px;
    background: linear-gradient(to right, orange, orange 50%, white 50%);
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.4s ease;
    text-decoration: none;
}

#destin-span:hover {
    background-position: 0 100%;
}

#up-arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    width: 50px;
    opacity: 0.5;
    transition: ease 0.4s;
}

#up-arrow:hover {
    opacity: 1;
}

#sites1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    flex-wrap: wrap;
}

/* #destinations img {
    width: 100%;
} */

#destinations {
    background: url(../assets/turn-sign.jpg);
    height: 700px;
    min-width: 100%;
}

#destinations p {
    font-size: 42px;
    color: orange;
    padding: 150px 0px 0px 100px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    transition: 0.85s ease-in;
    opacity: 0;
}

#destinations p:hover {
    opacity: 1;
}

#sites2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    flex-wrap: wrap;
}

#something img {
    width: 100%;
}

#sites3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    flex-wrap: wrap;
}

.card {
    height: 380px;
    width: 625px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.card p {
    font-size: 60px;
    color: orange;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 100%;
    opacity: 0;
    transition: ease 0.6s;
    text-align: center;
}

.card p:hover {
    opacity: 1;
    cursor: pointer;
}

.card img {
    min-width: 100%;
    min-height: 100%;
}

#yellowstone {
    background: url(../assets/yellowstone.jpg);
    background-size: 100%;
}
#sequoia {
    background: url(../assets/sequoia.jpg);
    background-size: 100%;
}
#grand-canyon {
    background: url(../assets/grand-canyon.jpg);
    background-size: 100%;
}
#zion {
    background: url(../assets/zion.jpg);
    background-size: 100%;
}
#bryce {
    background: url(../assets/bryce.jpg);
    background-size: 100%;
}
#arches {
    background: url(../assets/arches.jpg);
    background-size: 100%;
}
#yosemite {
    background: url(../assets/yosemite.jpg);
    background-size: 100%;
}
#teton {
    background: url(../assets/teton.jpg);
    background-size: 100%;
}
#glacier {
    background: url(../assets/glacier.jpg);
    background-size: 100%;
}
#rocky-mtn {
    background: url(../assets/rocky-mtn.jpg);
    background-size: 100%;
}
#smokey {
    background: url(../assets/smokey.jpg);
    background-size: 100%;
}
#olympic {
    background: url(../assets/olympic.jpg);
    background-size: 100%;
}

@keyframes appearOnLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 1600px) {
    #sites1,
    #sites2,
    #sites3 {
        margin: 100px 200px;
    }
}
@media screen and (min-width: 1750px) {
    #main-text {
        font-size: 40px;
        margin: -900px 0px 0px 125px;
    }
    #destin-span {
        font-size: 40px;
    }
    #main-text2 {
        font-size: 40px;
        margin: -675px 0px 0px 1450px;    
    }
}