body {
    background: url(../assets/escent-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

#container img {
    max-width: 100%;
    z-index: -50;
    /* transition: all ease-in-out 0.6s; */
}

#main-text {
    font-size: 32px;
    color: orange;
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin: -500px 0px 0px 125px;
    animation: 1.3s ease-in 0s 1 appearOnLoad;
}

#main-text2 {
    font-size: 32px;
    color: orange;
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin: -650px 0px 0px 1100px;
    animation: 2.1s ease-in 0s 1 appearOnLoad;
}

.span2 {
    color: #fff;
}

#destin-span {
    font-size: 32px;
    background: linear-gradient(to right, orange, orange 50%, white 50%);
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.4s ease;
    text-decoration: none;
}

#destin-span:hover {
    background-position: 0 100%;
}

#up-arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 100;
    width: 45px;
    transition: ease 0.65s;
    visibility: hidden;
    opacity: 0;
}

#up-arrow.active {
    visibility: visible;
    opacity: 0.65;
}

#up-arrow.active:hover {
    opacity: 1;
}

#sites1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    flex-wrap: wrap;
}

/* #destinations img {
    width: 100%;
} */

#destinations {
    background: url(../assets/turn-sign.jpg);
    height: 700px;
    min-width: 100%;
}

#destinations p {
    font-size: 42px;
    color: orange;
    padding: 150px 0px 0px 100px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    transition: 0.85s ease-in;
    opacity: 0;
    max-width: 100%;
}

#destinations p:hover {
    opacity: 1;
}

#sites2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    flex-wrap: wrap;
}

#something {
    background: url(../assets/something.jpg);
    height: 700px;
    min-width: 100%;
}

#something p {
    font-size: 46px;
    color: orange;
    padding: 330px 0px 0px 600px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    transition: 1.4s ease-in;
    opacity: 0;
}

#something p:hover {
    opacity: 1;
    padding: 330px 0px 0px 850px;
}

#sites3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
    flex-wrap: wrap;
}

.card {
    height: 360px;
    width: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.card p {
    font-size: 60px;
    color: orange;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 100%;
    opacity: 0;
    transition: ease 0.6s;
    text-align: center;
}

.card p:hover {
    opacity: 1;
    cursor: pointer;
}

.card img {
    min-width: 100%;
    min-height: 100%;
}

#yellowstone {
    background-size: 100%;
}
#sequoia {
    background-size: 100%;
}
#grand-canyon {
    background-size: 100%;
}
#zion {
    background-size: 100%;
}
#bryce {
    background-size: 100%;
}
#arches {
    background-size: 100%;
}
#yosemite {
    background-size: 100%;
}
#teton {
    background-size: 100%;
}
#glacier {
    background-size: 100%;
}
#rocky-mtn {
    background-size: 100%;
}
#smokey {
    background-size: 100%;
}
#olympic {
    background-size: 100%;
}

@keyframes appearOnLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (min-width: 1750px) {
    #main-text {
        font-size: 40px;
        margin: -900px 0px 0px 125px;
    }
    #destin-span {
        font-size: 40px;
    }
    #main-text2 {
        font-size: 40px;
        margin: -675px 0px 0px 1450px;    
    }
}
@media screen and (min-width: 1600px) {
    #sites1,
    #sites2,
    #sites3 {
        margin: 100px 200px;
    }
}
@media screen and (max-width: 1350px) {
    #container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #main-text {
        margin: 300px 0px 0px 0px;
    }
    #main-text2 {
        margin: 355px 0px 0px 0px;
    }
    .card {
        height: 280px;
        width: 475px;
    }
    .card p {
        font-size: 50px;
    }
    #destinations,
    #something {
        height: 350px;
    }
    #destinations p {
        font-size: 42px;
        padding: 150px 0px 0px 100px;
    }
    #something p {
        font-size: 46px;
        padding: 100px 0px 0px 100px;
        transition: 1s ease-in;
        background-color: rgba(0, 0, 0, 0.5);
    }
    #something p:hover {
        padding: 130px 0px 0px 250px;
    }
}
@media screen and (max-width: 1000px) {
    .card {
        height: 200px;
        width: 350px;
    }
    .card p {
        font-size: 40px;
    }
}
@media screen and (max-width: 800px) {
    #up-arrow {
        bottom: 25px;
        right: 25px;
    }
    #main-text {
        margin: 100px 0px 0px 0px;

    }
    #main-text2 {
        margin: 155px 0px 0px 0px;
    }
    #sites1,
    #sites2,
    #sites3 {
        margin: 40px 0px;
    }
    #destinations,
    #something {
        width: 810px;
        height: 275px;
    }
    #destinations p {
        font-size: 30px;
        padding: 150px 0px 0px 20px;
        opacity: 1;
    }
    #something p {
        font-size: 36px;
        padding: 100px 0px 0px 100px;
        opacity: 1;
    }
    #something p:hover {
        padding: 100px 0px 0px 100px;
    }
}
@media screen and (max-width: 600px) {
    #up-arrow {
        width: 28px;
        bottom: 15px;
        right: 15px;
    }
    #main-text,
    #main-text2,
    #destin-span {
        font-size: 18px;
    }
    .card {
        height: 135px;
        width: 250px;
    }
    .card p {
        font-size: 25px;
        opacity: 1;
    }
    #destinations,
    #something {
        display: none;
    }
}
