#nav {
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px 0px 2px 0px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 17px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 523px;
    height: 125px !important;
    padding: 11px;
    margin: 0px 0px 0px -200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    background-color: #1b1b1bde;
    z-index: 100;
    border-radius: 5px;
    /* transition: ease 1s !important; */
}

.dropdown:hover .dropdown-content {
    display: flex ;
    align-items: center;
    justify-content: space-around;
}

.rightnav-dropdown {
    font-size: 18px;
    color: orange;
    text-decoration: none;
}

.dropdown p {
    font-size: 18px;
    color: orange;
    text-decoration: none;
}

.rightnav-dropdown p:hover {
    color: white;
}

.dropdown p:hover {
    color:white;
}

#leftnav {
    margin-left: 50px;
}

#camper {
    font-size: 50px;
    margin-top: 25px;
    color: rgb(189, 123, 0);
    opacity: 1;
    transition: ease 1.25s;
}

#camper:hover {
    color: rgb(233, 151, 0);
    transform: rotate(7.5deg);
}

#rightnav {
    margin: 15px 50px 0px 0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.rightnav-a {
    margin-left: 25px;
    font-size: 22px;
    background: linear-gradient(to right, orange, orange 50%, white 50%);
    font-weight: 400;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.4s ease;
}

.rightnav-a:hover {
    background-position: 0 100%;
}