#nav {
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px 0px 2px 0px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 17px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
    /* transition: all ease 1s; */
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 523px;
    height: 125px !important;
    padding: 11px;
    margin: 0px 0px 0px -200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    background-color: #1b1b1bce;
    z-index: 100;
    border-radius: 5px;
}

#dropdown-set1,
#dropdown-set2,
#dropdown-set3 {
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: flex ;
    align-items: center;
    justify-content: space-around;
}

.dropDownLink {
    font-size: 18px;
    color: orange;
    text-decoration: none;
    margin-bottom: 5px;
}

.dropDownLink:hover {
    color:white;
}

#leftnav {
    margin-left: 50px;
}

#camper {
    font-size: 50px;
    margin-top: 25px;
    color: rgb(189, 123, 0);
    opacity: 1;
    transition: ease 1.25s;
}

#camper:hover {
    color: rgb(233, 151, 0);
    transform: rotate(7.5deg);
}

#rightnav {
    margin: 15px 50px 0px 0px;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    justify-content: space-around;
}

.rightnav-a {
    margin-left: 25px;
    font-size: 22px;
    background: linear-gradient(to right, orange, orange 50%, white 50%);
    font-weight: 400;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.4s ease;
}

.rightnav-a:hover {
    background-position: 0 100%;
}

@media screen and (max-width: 600px) {
    .rightnav-a {
        margin-left: 15px;
        font-size: 18px;
        font-weight: 400;
    }
}
@media screen and (max-width: 500px) {
    #nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        background-color: black;
        box-shadow: none;
        border: none;
        height: 120px;
    }
    #leftnav {
        margin: 0px 0px 0px 0px;
    }
    #rightnav {
        margin-right: 10px;
    }
    #rightnav-a {
        font-size: 16px;
        margin: 0px 0px 0px 0px;
    }
    #camper {
        font-size: 42px;
        margin-top: 5px;
    }
    .dropdown-content {
        height: 105px !important;
        width: 375px;
        margin: 0px 0px 0px -75px;        
    }
    #dropdown-set1,
    #dropdown-set2,
    #dropdown-set3 {
        width: 100%;
    }
    .dropDownLink {
        font-size: 14px;
    }
}