#shop-page {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#product-section {
    width: 90%;
    margin: 100px 0px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    width: 500px;
    height: 460px;
    margin: 15px;
    overflow: hidden;
    box-shadow: 7px 7px 20px 5px rgba(0, 0, 0, 0.5);
}

.product-card img {
    max-width: 100%;
}

#mug {
    height: 80%;
    width: 100%; 
}

.prod-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.76);
}

.prod-name {
    margin-bottom: 6px;
    font-size: 32px;
}

.price-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 26px;
}

.buy {
    font-size: 26px;
    padding: 3px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(255, 166, 0, 0.616);
    transition: ease 0.3s;
}

.buy:hover {
    cursor: pointer;
    background-color: orange;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
}