.trips-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#nada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
}

.trip-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 75px;
    min-width: 55%;
    padding: 15px;
    border: 1px solid black;
    background-color: white;
}

.trip-name {
    font-size: 28px;
}

.trip-activities {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.trip-activities li {
    margin: 0px 15px;
}

.trip-pic {
    width: 85%;
}

.trip-pic p:hover {
    opacity: 0;
    cursor: default;
}

.trip-links {
    display: flex;
    justify-content: space-around;
}

.trip-links a {
    margin: 0px 15px;
}

.btn-section-delete {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.delete-btn {
    padding: 10px;
    background-color: red;
    font-size: 16px;
    border-radius: 10px;
    border-style: none;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
    box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.65);
}

.delete-btn:hover {
    cursor: pointer;
}